<h1> Ever found yourself forgetting the steps for that important task on hand? </h1>
<h1> Fear not! Now with Guru, that won't ever happen again! </h1>
<br>
<h2> Start organizing, choose Guru </h2>




